body {
  text-align: center;
  background-color: #011F3F;
}

.us{
  background-image: url("images/us.gif");
}

h1{
  font-family: 'Press Start 2P', cursive;
  font-size: 3rem;
  margin:  5%;
  color: #FEF2BF;
}

h2, h3{
  font-family: 'Press Start 2P', cursive;
  font-size: 2rem;
  margin:  5%;
  color: #FEF2BF;
}

.container {
  display: block;
  width: 50%;
  margin: auto;

}

.btn {
  margin: 25px;
  display: inline-block;
  height: 200px;
  width: 200px;
  border: 10px solid black;
  border-radius: 20%;
}

.btn-hide{
  display:none;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}

.mobileButton{
  display: none;

}

@media (max-width:1800px) {
  .mobileButton{
    margin: 25px;
    display: inline-block;
    height: 200px;
    width: 200px;
    border: 10px solid black;
    border-radius: 20%;
    font-size: 3rem;
  }


  .titlePC{
    display:none;
  }
}



@media (min-width:1920px) {
  .titleMobile{
    display:none;
  }
}
